<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>preloader-dom</title>
    <style>
        .container{
            max-width: 980px;
            margin: 0 auto;
        }
        .block{
            min-height: 200px;
            background: blue;
            color: white;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="preloader">
            <div class="block">
                <h2>PreloaderContent</h2>
            </div>
        </div>
        <div id="preloader2">
            <div class="block">
                <h2>PreloaderContent 2</h2>
            </div>
        </div>
        <div>
            <button id="show">Show</button>
            <button id="error">Error</button>
            <button id="hide">Hide</button>
        </div>
        <div id="preloader3">
            <div class="block">
                <h2 id="titleFor3">PreloaderContent 3</h2>
            </div>
        </div>
    </div>
</body>
</html>
